<ion-header>
  <ion-navbar>
    <ion-title>
      Orders
    </ion-title>
    <!--<button ion-button color="light" (click)="release()">Release Order</button>-->
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
    <!--<ion-row>
      <ion-col no-padding width-50>
        <h2 class="item-title"> Return : {{responseString}} </h2>
      </ion-col>
    </ion-row>-->
    <ion-list inset>
      <div *ngFor="let order of orders">
        <ion-item-divider clear></ion-item-divider>
        <ion-row no-padding class="content-row one-line">
          <button ion-item class="list-item" (click)="changePage(order)">
            <ion-avatar item-left>
              <img src="img.png">
            </ion-avatar>
            <ion-label>
              <ion-row>
                <ion-col no-padding width-50>
                  <h2 class="item-title"> Order No : {{order.orderNo}} </h2>
                </ion-col>
              </ion-row>
              <ion-col no-padding width-50 class="item-description">
                <p class="item-description"> Style Code : {{order.styleCode}} </p>
              </ion-col>
              <ion-row no-padding width-50 class="item-description">
                <p class="item-description"> Style Desc : {{order.styleDesc}} </p>
              </ion-row>
              <ion-row no-padding width-50 class="item-description">
                <p class="item-description">Status : {{order.orderStatusDesc}} </p>
              </ion-row>
            </ion-label>
            <!--<ion-checkbox [(ngModel)]="checkBox[order]" color="dark"></ion-checkbox>-->
          </button>
          <!--</ion-item>-->
        </ion-row>
      </div>
    </ion-list>
    
  </div>
</ion-content>