page-order-detail {

	.grid-example
	{
		padding: 10px 5px 0px 5px;

		.grid-item
		{
			padding: 0px 5px 10px;

			&.double-item
			{
				& > .grid-item
				{
					padding: 5px 0px;

					&:first-child
					{
						padding-top: 0px;
					}

					&:last-child
					{
						padding-bottom: 0px;
					}
				}
			}

			.grid-item-wrapper
			{
				position: relative;
				padding-bottom: 100%;
				height: 0px;
				background-color: $white-c;

				.grid-item-inner
				{
					height: 100%;
					width: 100%;
					position: absolute;

					.item-title
					{
						margin: 0px;
						color: $black-c;
						text-align: center;
					}

					&.multi-line
					{

						.item-title
						{
							flex: 0 0 100%;
					    max-width: 100%;
							margin: 5px 0px;
						}
					}
				}
			}
		}
	}

}
