<!--
<ion-header>

  <ion-navbar>
    <ion-title>OrderDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>

    <ion-col width-100>
    <h4 position="relative">Order No. :{{orderData.orderNo}}</h4>
    <h5 position="relative">Order Status:{{orderData.orderStatusDesc}}</h5>
    <ion-row>
    <ion-col width-50 class="grid-item" >
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
      <h5 >Style Code : {{orderData.styleCode}}</h5>
      <h6 >Style Description :{{orderData.styleDesc}}</h6>
          </div>
        </div>
    </ion-col>
    <ion-col border="block" width-50 class="grid-item" >
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
      <h5>Supplier Name : {{orderData.supplierName}}</h5>
      <h6>Supplier No :{{orderData.supplierNo}}</h6>
          </div>
        </div>
    </ion-col>
    </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

-->
<ion-header>
  <ion-navbar ion-navbar round color="magenta">
  </ion-navbar>
  <button ion-button color="light" (click)="release()">Release Order</button>
</ion-header>
<ion-content >
  <ion-item class="user" width-150 style="background-image:url('../assets/k.jpeg');">
  <ion-title style="color : magenta;" >Order</ion-title>
  </ion-item>
  <ion-grid>
    <div class="details">
      <ion-row style="color: #000000;">
        <ion-row style="background-color: #AE5FFD;">
        </ion-row>
      </ion-row>
    </div>
    <!--<div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Order">
          Order
        </ion-segment-button>
        <ion-segment-button value="Style">
          Style
        </ion-segment-button>
        <ion-segment-button value="Supplier">
          Supplier
        </ion-segment-button>
      </ion-segment>
    </div>-->
    <!--<div [ngSwitch]="pet">-->
      <!--<ion-list *ngSwitchCase="'Order'">-->
        <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="./assets/k.jpeg">
          </ion-thumbnail>
          <h2>Details</h2>
          <ion-row style="color: #e74c3c;">
            <ion-col style="color: #f1c40f;">
              <h4 position="relative">Order No. :{{orderData.orderNo}}</h4>
              <h5 position="relative">Order Status:{{orderData.orderStatusDesc}}</h5>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <!--<ion-list *ngSwitchCase="'Style'">-->
        <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="./assets/k.jpeg">
          </ion-thumbnail>
          <h2>Style</h2>
          <ion-row style="color: #8b09bf;">
            <ion-col style="color: #f1c40f;">
              <h4 position="relative">Style Code : {{orderData.styleCode}}</h4>
              <h5 position="relative">Style Description :{{orderData.styleDesc}}</h5>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <!--<ion-list *ngSwitchCase="'Supplier'">-->
        <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="./assets/k.jpeg">
          </ion-thumbnail>
          <h2>Supplier</h2>
          <ion-row style="color: #9f59b6;">
              <ion-col style="color: #f1c40f;">
                <h4 position="relative">Supplier Name : {{orderData.supplierName}}</h4>
                <h5 position="relative">Supplier No :{{orderData.supplierNo}}</h5>
              </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    <!--</div>-->
  </ion-grid>
</ion-content>